<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <a href="http://reesemclean.github.io/standings-example/">http://reesemclean.github.io/standings-example/</a>
  </body>
</html>
